openapi: 3.2.0
info:
  description: Welcome to the official API reference for the Trading 212 Public API!
  title: Trading 212 Public Instruments API
  version: v0
servers:
- url: https://demo.trading212.com
- url: https://live.trading212.com
tags:
- description: 'Discover what you can trade. These endpoints provide comprehensive lists

    of all tradable instruments and the exchanges they belong to, including

    details like tickers and trading hours.'
  name: Instruments
paths:
  /api/v0/equity/metadata/exchanges:
    get:
      description: 'Retrieves all accessible exchanges and their corresponding working schedules.

        Data is refreshed every 10 minutes.


        **Rate limit:** 1 req / 30s'
      operationId: exchanges
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Exchange'
                type: array
          description: OK
        '401':
          description: Bad API key
        '403':
          description: Scope( metadata ) missing for API key
        '408':
          description: Timed-out
        '429':
          description: 'Limited: 1 / 30s'
      security:
      - authWithSecretKey: []
        legacyApiKeyHeader: []
      summary: Get exchanges metadata
      tags:
      - Instruments
  /api/v0/equity/metadata/instruments:
    get:
      description: 'Retrieves all accessible instruments.

        Data is refreshed every 10 minutes.


        **Rate limit:** 1 req / 50s'
      operationId: instruments
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/TradableInstrument'
                type: array
          description: OK
        '401':
          description: Bad API key
        '403':
          description: Scope( metadata ) missing for API key
        '408':
          description: Timed-out
        '429':
          description: 'Limited: 1 / 50s'
      security:
      - authWithSecretKey: []
        legacyApiKeyHeader: []
      summary: Get all available instruments
      tags:
      - Instruments
components:
  schemas:
    WorkingSchedule:
      properties:
        id:
          format: int64
          type: integer
        timeEvents:
          items:
            $ref: '#/components/schemas/TimeEvent'
          type: array
      type: object
    TradableInstrument:
      properties:
        addedOn:
          description: On the platform since
          format: date-time
          type: string
        currencyCode:
          description: ISO 4217
          example: USD
          maxLength: 3
          minLength: 3
          type: string
        extendedHours:
          type: boolean
        isin:
          type: string
        maxOpenQuantity:
          type: number
        name:
          type: string
        shortName:
          type: string
        ticker:
          description: Unique identifier
          example: AAPL_US_EQ
          type: string
        type:
          enum:
          - CRYPTOCURRENCY
          - ETF
          - FOREX
          - FUTURES
          - INDEX
          - STOCK
          - WARRANT
          - CRYPTO
          - CVR
          - CORPACT
          example: ETF
          type: string
        workingScheduleId:
          description: Get items in the /exchanges endpoint
          format: int64
          type: integer
      type: object
    Exchange:
      properties:
        id:
          format: int64
          type: integer
        name:
          type: string
        workingSchedules:
          items:
            $ref: '#/components/schemas/WorkingSchedule'
          type: array
      type: object
    TimeEvent:
      properties:
        date:
          format: date-time
          type: string
        type:
          enum:
          - OPEN
          - CLOSE
          - BREAK_START
          - BREAK_END
          - PRE_MARKET_OPEN
          - AFTER_HOURS_OPEN
          - AFTER_HOURS_CLOSE
          - OVERNIGHT_OPEN
          type: string
      type: object
  securitySchemes:
    authWithSecretKey:
      description: Use your API Key as the username and your API Secret as the password
      scheme: basic
      type: http
    legacyApiKeyHeader:
      in: header
      name: Authorization
      type: apiKey
