openapi: 3.2.0
info:
  description: Welcome to the official API reference for the Trading 212 Public API!
  title: Trading 212 Public Positions API
  version: v0
servers:
- url: https://demo.trading212.com
- url: https://live.trading212.com
tags:
- description: Get a real-time overview of all your open positions, including quantity, average price, and current profit or loss.
  name: Positions
paths:
  /api/v0/equity/positions:
    get:
      description: 'Fetch all open positions for your account


        **Rate limit:** 1 req / 1s'
      operationId: getPositions
      parameters:
      - example: AAPL_US_EQ
        in: query
        name: ticker
        required: false
        schema:
          type: string
      responses:
        '200':
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Position'
                type: array
          description: OK
        '401':
          description: Bad API key
        '403':
          description: Scope( portfolio ) missing for API key
        '408':
          description: Timed-out
        '429':
          description: 'Limited: 1 / 1s'
      security:
      - authWithSecretKey: []
        legacyApiKeyHeader: []
      summary: Fetch all open positions
      tags:
      - Positions
components:
  schemas:
    Position:
      properties:
        averagePricePaid:
          description: Average price paid, in instrument currency, per share.
          type: number
        createdAt:
          description: The ISO 8601 formatted date of when the position was opened.
          format: date-time
          type: string
        currentPrice:
          description: Current price, in instrument currency, of a single share.
          type: number
        instrument:
          $ref: '#/components/schemas/Instrument'
        quantity:
          description: Total quantity of shares owned.
          type: number
        quantityAvailableForTrading:
          description: Quantity of shares available for trading.
          type: number
        quantityInPies:
          description: Quantity of shares currently used in pie.
          type: number
        walletImpact:
          $ref: '#/components/schemas/PositionWalletImpact'
          description: Collects the financial impact of the position on the user's wallet.
      type: object
    Instrument:
      description: Instrument information as given by /instruments endpoint.
      properties:
        currency:
          description: Instrument currency in ISO 4217 format.
          type: string
        isin:
          description: ISIN of the instrument.
          type: string
        name:
          description: Name of the instrument.
          type: string
        ticker:
          description: Unique instrument identifier.
          example: AAPL_US_EQ
          type: string
      type: object
    PositionWalletImpact:
      properties:
        currency:
          description: The currency code used to represent all the wallet impact information.
          type: string
        currentValue:
          description: The current market value of the position.
          type: number
        fxImpact:
          description: The positive or negative impact on the position's value due to currency rate changes.
          type: number
        totalCost:
          description: The total cost paid for the position.
          type: number
        unrealizedProfitLoss:
          description: The unrealized profit & loss for the position. Calculated as currentValue - totalCost.
          type: number
      type: object
  securitySchemes:
    authWithSecretKey:
      description: Use your API Key as the username and your API Secret as the password
      scheme: basic
      type: http
    legacyApiKeyHeader:
      in: header
      name: Authorization
      type: apiKey
