openapi: 3.2.0
info:
  description: Welcome to the official API reference for the Trading 212 Public API!
  title: Trading 212 Public Accounts API
  version: v0
servers:
- url: https://demo.trading212.com
- url: https://live.trading212.com
tags:
- description: Access fundamental information about your trading account. Retrieve details such as your account ID, currency, and current cash balance.
  name: Accounts
paths:
  /api/v0/equity/account/summary:
    get:
      description: 'Provides a breakdown of your account''s cash and investment metrics,

        including available funds, invested capital, and total account value.


        **Rate limit:** 1 req / 5s'
      operationId: getAccountSummary
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSummary'
          description: OK
        '401':
          description: Bad API key
        '403':
          description: Scope( account ) missing for API key
        '408':
          description: Timed-out
        '429':
          description: 'Limited: 1 / 5s'
      security:
      - authWithSecretKey: []
        legacyApiKeyHeader: []
      summary: Get account summary
      tags:
      - Accounts
components:
  schemas:
    Cash:
      properties:
        availableToTrade:
          description: Funds available for investing.
          type: number
        inPies:
          description: It’s the sum of the cash inside of all pies that is not yet invested.
          type: number
        reservedForOrders:
          description: The amount of cash reserved for pending orders. This cash is not available for placing new trades.
          type: number
      type: object
    AccountSummary:
      properties:
        cash:
          $ref: '#/components/schemas/Cash'
        currency:
          description: Primary account currency in ISO 4217 format.
          type: string
        id:
          description: Primary trading account number. This is the same account ID you would see in the Trading 212 web or mobile application.
          format: int64
          type: integer
        investments:
          $ref: '#/components/schemas/Investments'
        totalValue:
          description: Investments value in your account's primary currency.
          type: number
      type: object
    Investments:
      properties:
        currentValue:
          description: Current value of all the investments.
          type: number
        realizedProfitLoss:
          description: The all-time realised profit loss from all of the trades executed.
          type: number
        totalCost:
          description: The cost basis of your current investments. The total amount of funds you've invested in the shares you currently own.
          type: number
        unrealizedProfitLoss:
          description: The potential profit/loss of your current investments, showing how much you could gain or lose if you were to sell them now.
          type: number
      type: object
  securitySchemes:
    authWithSecretKey:
      description: Use your API Key as the username and your API Secret as the password
      scheme: basic
      type: http
    legacyApiKeyHeader:
      in: header
      name: Authorization
      type: apiKey
